# Python
server/.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
db.sqlite3

# Node
frontend/node_modules/
frontend/build/

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

.env.local
.env.unraid
server/auth.log
.env
.env.unraidBeta
